@tailwind base;
@tailwind components;
@tailwind utilities;


/* @font-face {
    font-family: 'Montserrat';
    src: url('./font/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

* {
   @apply font-montserrat 
   
} */


.container{
    display: flex;
    justify-content:center ;
    flex-direction: column;
    align-items: center;
}

.announce{
    display: flex;
    justify-content:center ;
    flex-direction: column;
    align-items: center;
}

.post1{
    display: flex;
}

#user-dropdown {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    z-index: 50;
}

.flex.items-center.md\:order-2 {
    position: relative;
}

.informasi-login{
    flex-direction: column;
    align-items: flex-end;
}

.swiper-wrapper {
    width: 100%;
    height: max-content !important;
    padding-bottom: 64px !important;
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
}

.box-about{
    flex-direction: column;
    justify-content: center;
}

#table-user_length{
    @apply mb-4;
}

#table-user_length select{
    @apply w-14;
}

.container-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.status-akun{
    align-items: center
}

.status-df {
    align-items: center

}

.status-acc{
    align-items: center
}

.bukti-foto{
    justify-content: center;
    align-items: center;
}

#default-modal {
    position: fixed;
    transform: translate(28%, -0%);
    z-index: 0; /* Pastikan modal berada di depan elemen lain */
  }
  
  .box-penjelasan{
    justify-content: center;
  }